 
@mixin circle($color) {
  display: inline-block;
  border-radius: 50%;
  margin-left: 10px;
  text-align: center;
  
  background-color: $color;
}

.main {
  margin: 20px 10px;
  color: #ffffff;
  
  .small {
    
    @include circle(#20efae);
    width: 34px;
    height: 34px;
  }
  
  .medium {
   
    @include circle(#61cbff);
    width: 62px;
    height: 62px;
  }
  
  .large {
    
    @include circle(#a070f7);
    width: 90px;
    height: 90px;
  }
}
