


.main {
  margin: 20px;
  border-radius: 5px;

  .title {
    font-size: 32px;
    margin-bottom: 5px;

    
    
  }

  .description {
    color: #5f6977;
    font-size: 14px;
    margin-bottom: 10px;
  }
  
  .button {

    
    
    display: inline-block;
    color: #ffffff;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
  }
}
