$blue: #0ac4ff;
$pink: #fd6eb6;

.main {
  margin: 10px;
  
  li {
    list-style: none;
    float: left;
    height: 100px;
    width: 33%;
    margin-bottom: 10px;
  }
  
  .blue1 {
    background-color: $blue;
  }
  
  .blue2 {
    
    
  }
  
  .blue3 {
    
    
  }
  
  .pink1 {
    background-color: $pink;
  }
  
  .pink2 {
    
    
  }
  
  .pink3 {
    
    
  }
}
