 
.main {
  margin: 20px 10px;
  color: #ffffff;
  
  .small {

    
    
    width: 34px;
    height: 34px;
  }
  
  .medium {

    
    
    width: 62px;
    height: 62px;
  }
  
  .large {

    
    
    width: 90px;
    height: 90px;
  }
}
